#registration-form, #registration-tooltip, #login-form {
    margin-top: 5vh;
}
.rules {
    display: none;
    margin-top: 5px;
    margin-bottom: 5px;
}
.warning {
    border-color: #ffc85a;
}
.error-field {
    color: rgba(255, 37, 15, 0.67);
    text-align: right;
    font-size: small;
    padding-top: 10px;
    padding-bottom: 5px;
}